{% extends 'base_generic.html' %}

{% block title %} Add Task {% endblock %}


{% block content %}
    <form action="{% url 'task:add_task' %}" method="post" class="form-group">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ request.user.id }}">
        <label for="sku">
            <pre>Write products SKU, separate them with spaces or new line</pre>
            <pre>Format:</pre>
            <pre><b>    On start need write Server code - 1 letters, and symbol '_' without quotes  like :</b> M_ </pre>
            <pre><b>    next need write supplier code - 2 letters, and symbol '_' without quotes  like :</b> M_KM_ </pre>
            <pre><b>    If product not have option need write just id after supplier code like :</b> M_KM_0000000000</pre>
            <pre><b>    If product have option, need write option id after product id and symbol '#'  like :</b> M_KM_0000000000#1111111111 </pre>
            <pre>    Also you can add letter after symbol '-' like : M_KM_0000000000#1111111111-A <b>or</b> M_KM_0000000000-A</pre>
            <pre>    And you can add quantity after symbol '$' like : M_KM_0000000000#1111111111-A$10 <b>or</b> M_KM_0000000000$10</pre>
        </label>
        <textarea id="sku" style="width: 100%; height: 300px" class="form-control" name="data"></textarea>
        <button style="margin: 10px" type="submit" class="btn btn-primary">Start search</button>

    </form>
    <form method="POST">
        {% csrf_token %}
        <table id="tasks_table" class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Retry</th>
                <th>CSV</th>
                <th>XLS</th>
            </tr>
            </thead>

        </table>
    </form>

    <script>
        $(document).ready(function () {

            $('#tasks_table').DataTable({
                "order": [[0, "desc"]],
                'serverSide': true,
                'ajax': '/api/tasks/?format=datatables&username={{ request.user }}',

                'columns': [
                    {'data': 'pk'},
                    {'data': 'description'},
                    {
                        'data': null,
                        "render": function (data, type, row, meta) {
                            let url_mask = "{% url 'task:retry_task' pk='tasks_retry_url_mask' %}".replace(/tasks_retry_url_mask/, data.pk.toString());
                            return '<button class="btn btn-sm btn-outline-info" formaction="' + url_mask + '"  type="submit">Retry task</button>';
                        }
                    },
                    {
                        'data': null,
                        "render": function (data, type, row, meta) {
                            let url_mask = "{% url 'task:task_gen_csv' pk='tasks_csv_url_mask' %}".replace(/tasks_csv_url_mask/, data.pk.toString());
                            return '<button class="btn btn-sm btn-outline-primary" formaction="' + url_mask + '"  type="submit">Generate csv file</button>';
                        }
                    },
                    {
                        'data': null,
                        "render": function (data, type, row, meta) {
                            let url_mask = "{% url 'task:task_gen_xls' pk='tasks_xls_url_mask' %}".replace(/tasks_xls_url_mask/, data.pk.toString());
                            return '<button class="btn btn-sm btn-outline-primary" formaction="' + url_mask + '"  type="submit">Generate xls file</button>';
                        }
                    },
                ]

            });

        });
    </script>

{% endblock %}