{% extends 'base_generic.html' %}

{% block title %} Add Task {% endblock %}


{% block content %}
    <form action="{% url 'task:add_task' %}" method="post" class="form-group">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ request.user.id }}">
        <label for="sku">
            <pre>Write products SKU, separate them with spaces or new line</pre>
            <pre>Format:</pre>
            <pre><b>    On start need write Server code - 1 letters, and symbol '_' without quotes  like :</b> M_ </pre>
            <pre><b>    next need write supplier code - 2 letters, and symbol '_' without quotes  like :</b> M_KM_ </pre>
            <pre><b>    If product not have option need write just id after supplier code like :</b> M_KM_0000000000</pre>
            <pre><b>    If product have option, need write option id after product id and symbol '#'  like :</b> M_KM_0000000000#1111111111 </pre>
            <pre>    Also you can add letter after symbol '-' like : M_KM_0000000000#1111111111-A <b>or</b> M_KM_0000000000-A</pre>
            <pre>    And you can add quantity after symbol '$' like : M_KM_0000000000#1111111111-A$10 <b>or</b> M_KM_0000000000$10</pre>
        </label>
        <textarea id="sku" style="width: 100%; height: 300px" class="form-control" name="data"></textarea>
        <button style="margin: 10px" type="submit" class="btn btn-primary">Start search</button>
    </form>
    {% if tasks %}
        <h3 style="text-align: center">Last tasks</h3>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <table id="tasks_table" class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>CSV</th>
                <th>XLS</th>
            </tr>
            </thead>
{#            <tbody>#}
{##}
{#            {% for task in tasks %}#}
{#                <tr>#}
{#                    <td>{{ task.id }}</td>#}
{#                    <td>{{ task.description }}</td>#}
{#                    <td>#}
{#                        <button id="task_csv" class="btn btn-outline-primary float-right" style="margin: 0 10px 0 10px;"#}
{#                                formaction="{% url 'task:task_gen_csv' task.id %}" type="submit">Generate csv file#}
{#                        </button>#}
{#                    </td>#}
{#                    <td>#}
{#                        <button class="btn btn-outline-primary float-right"#}
{#                                formaction="{% url 'task:task_gen_xls' task.id %}"#}
{#                                type="submit">Generate xls file#}
{#                        </button>#}
{#                    </td>#}
{#                </tr>#}
{#            {% endfor %}#}
{##}
{#            </tbody>#}
        </table>
    </form>

    <script>
        $(document).ready(function () {

            var myData = [];
            {% for task in tasks %}
                    myData.push([
                        "{{ task.id}}",
                        "{{task.description}}",
                        "<button id='task_csv' class='btn btn-outline-primary float-right' style='margin: 0 10px 0 10px;' formaction='{% url 'task:task_gen_csv' task.id %}' type='submit'>Generate csv file</button>",
                        "<button id='task_csv' class='btn btn-outline-primary float-right' style='margin: 0 10px 0 10px;' formaction='{% url 'task:task_gen_xls' task.id %}' type='submit'>Generate xls file</button>"
                    ]);
            {% endfor %}

            $('#tasks_table').DataTable({
                "order": [[0, "desc"]],
                "pageLength": 25,
                "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
                "data": myData


                {#"ajax": "{% url 'task:get_tasks_json' %}",#}
                {#"columns": [#}
                {#    {"data": "id"},#}
                {#    {"data": "description"},#}
                {##}
                {#{"data": null,#}
                {#    "defaultContent": },#}
                {#{"data": null, "defaultContent": "<button class='btn btn-outline-primary float-right' formaction='{% url 'task:task_gen_xls' my_data[0] %}'type='submit'>Generate xls file</button>"}#}
                {#],#}
            });
        });
    </script>

{% endblock %}