{% extends 'base_generic.html' %}
{% block title %} My orders {% endblock %}

{% block content %}

    <div id="orders_buttons">
        <form class="form-group" method="POST">
            {% csrf_token %}
            <label class="form-check-label">
                Set q-ty to generate last orders
                <input class="form-control-sm" type="number" value="1" min="1"
                       id="orders_report_count" name="orders_report_qty">
            </label>
            <input id="report_product_sku" type="hidden" value="" name="report_product_sku">
            <button id="order_gen_csv" class="btn btn-outline-primary float-right" style="margin: 0 10px 0 10px "
                    type="submit"
                    formaction="{% url 'order:order_gen_csv' %}">
                Generate to csv
            </button>
            <button id="order_gen_xls" class="btn btn-outline-primary float-right" type="submit"
                    formaction="{% url 'order:order_gen_xls' %}">
                Generate to xls
            </button>
        </form>
    </div>
    <table id="orders_table" class="table table-bordered ">
        <thead>
        <tr>
            <th>Order id</th>
            <th>SKU</th>
            <th>Account username</th>
            <th>Account email</th>
            <th>Cart price</th>
            <th>Cart quantity</th>
            <th>Status</th>

        </tr>
        </thead>
    </table>

    <script>
        $(document).ready(function () {
            var table = $('#orders_table').DataTable(
                {
                    'serverSide': true,
                    'ajax': {
                        'url': '/api/orderstatus/?format=json&username={{request.user}}&sku={{request.path|urlencode}}',
                        'dataSrc': 'data'
                    },
                    'columnDefs':
                    [
                         { targets: [1,5,6], orderable: false},
                         { targets: [1,2,3,4,5,6], searchable: false},
                    ],

                    "columns": [
                        {"data": "order.order_id"},
                        {"data": 'order.product'},
                        {"data": "order.account.username"},
                        {"data": "order.account.email"},
                        {"data": "order.price"},
                        {"data": "order.quantity"},
                        {
                            "data": null,
                            "render": function (data, type, row, meta) {


                                document.querySelector("#report_product_sku").setAttribute('value', data.order.product);
                                let url_mask = "{% url 'order:order_status_image' pk=123 %}".replace(/123/, data.pk)

                                {% comment %}
                                if (data.status.indexOf('SUCCESS') !== -1) {
                                    $('td', row).addClass('alert-success');
                                } else if (data.status.indexOf('IN_PROGRESS') !== -1) {
                                    $('td', row).addClass('alert-secondary');
                                } else {
                                    $('td', row).addClass('alert-danger');
                                }
                                {% endcomment %}
                                return '<div class="alert"><a href="' + url_mask + '">' + data.status + '</a></div>';
                            }
                        },
                    ],
                }
            );

        });
    </script>

{% endblock %}