<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset='utf-8'>           
    
        <title>{% block title %}{% endblock %}</title>
        <style>
            img {
                border: 1px solid #ddd;
                border-radius: 4px;
                padding: 5px;
                width: 300px;
            }
            img:hover {
                box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
            }
        </style>


        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </head>

    <body >

        <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <div class="container">
                <a href="{% url 'index' %}" class="navbar-brand">Home</a>
                {% if user.is_authenticated and user.is_staff %}
                     <a class="navbar-brand "  href="/admin/" >Admin</a>
                {% endif %}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'product:products' %}?page=1" >Products</a>
                        </li>
                        {% if user.is_authenticated %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'supplier_account:supplier_accounts' %}" >Supplier accounts</a>
                        </li>
                        {% endif %}
                    </ul>

                    <ul class="navbar-nav float-right ">
                        {% if user.is_authenticated %}
                             <span class="navbar-text" style="margin: 0px 35px 0px 0px">Hello   <b class="text-success"> {{ user.get_username }} </b></span>
                            <li class="nav-item ">
                                <a class="nav-link " href="{% url 'logout' %}?next={{request.path}}">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link">  Hello    <b class="text-success"> Guest </b></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}?next={{request.path}}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  href="{% url 'register' %}?next={{request.path}}">Register</a>
                            </li>

                        {% endif %}
                    </ul>
                </div>
            <div>
        </nav>

        <div class="container" style="padding: 25px;overflow-x: hidden">
            {% block content %}

            {% endblock %}

        </div>

        <div>
            {% block pagination %}
                {% if is_paginated or accounts.has_other_pages %}
                   <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">

                      {% if page_obj.has_previous %}
                          <li class="page-item"><a class="page-link" href="?page=1">&laquo; </a> </li>
                          <li class="page-item">
                            <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}"><</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}"> {{ page_obj.previous_page_number }} </a></li>
                      {% else %}
                          <li class="page-item disabled"><a class="page-link" href="?page=1">&laquo; </a> </li>
                        <li class="page-item disabled">
                          <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><</a>
                        </li>
                      {% endif %}
                        <li class="page-item active"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
                      {% if page_obj.has_next %}

                          <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}"> {{ page_obj.next_page_number }} </a></li>

                        <li class="page-item">
                            <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">></a>
                        </li>
                          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"> &raquo;</a></li>
                      {% else %}

                        <li class="page-item disabled">
                          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">></a>
                        </li>
                          <li class="page-item disabled"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"> &raquo;</a></li>
                      {% endif %}

                      </ul>
                   </nav>
                {% endif %}
            {% endblock %}
        </div>
    </body>
</html>


