{% extends 'base_generic.html' %}

{% block title %} Suppliers {% endblock %}

{% block content %}
 <a class="btn btn-primary" href="{% url 'supplier_account:add_supplier_account' %}?next={{ request.path }}">Add
        Supplier Account</a>
    <div class="card border-success " style="padding: 1%;margin: 1% 0 0 0">
        <table id="supplier_account_table" class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
                <th>Supplier</th>
            </tr>
            </thead>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#supplier_account_table').DataTable({
                "order": [[4, "asc"]],
                'serverSide': true,

                'ajax': '/api/supplier_accounts/?format=datatables',
                "columns": [
                    {"data": "pk"},
                    {"data": "username"},
                    {"data": "email"},
                    {"data": "password"},
                    {"data": "supplier"},
                ],
            });
        });
    </script>
{% endblock %}
