<div class="col-sm-4" >
    <div class="card border-success" style=" margin: 1%">
        <div class="card-content">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Username:</b>
                {% if account.username %}
                    {{ account.username }}
                {% else %}
                    "No username"
                {% endif %}
            </li>
            <li class="list-group-item"><b>Email:</b> {{ account.email }}</li>
            <li class="list-group-item"><b>Password:</b> {{ account.password }}</li>

        </ul>
        </div>
        {% if request.path != '/supplier_account/' %}
            <div class="card-action text-right ">
                     <input type="hidden" name="supplier_account_id" value="{{ account.pk }}">
                     <button type="submit" class="btn btn-success btn-block " >Select</button>


            </div>
        {% endif %}
    </div>
</div>