<div class="col-sm-4" >
    <div class="card border-0" style=" margin: 1%">
        <div class="card-content">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Username:</b>
                {% if account.username %}
                    {{ account.username }}
                {% else %}
                    "No username"
                {% endif %}
            </li>
            <li class="list-group-item"><b>Email:</b> {{ account.email }}</li>
            <li class="list-group-item"><b>Password:</b> {{ account.password }}</li>

        </ul>
        </div>

        <div class="card-action text-right ">
             <form  method="POST">
             {% csrf_token %}
                 <input type="hidden" name="supplier_account_id" value="{{ account.pk }}">
                 <button class="btn btn-success btn-block " formaction="{%  url 'supplier_account:select_supplier_account' %}" type="submit">Select</button>
             </form>
        </div>
    </div>
</div>